<html>
    <head>
        <title>Tinder thérapie</title>
    </head>
    <body>
        <div>
            <h1><a href="">Welcome on Tinder Thérapie </a></h1>
        </div>
{% for post in posts %}
    {{ post }}
{% endfor %}
        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">YOU GO GIRL !</a></h2>
            <p>Je viens donc de coder mon premier post.</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">Et le second !</a></h2>
            <p>Une reconversion dans le developpement web ? </p>
        </div>
    </body>
</html>